pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif;
}

.fab {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.card {
  margin: 8px;
}

:host {
  height: 100%;
  display: block;
}
img {
  width: 100%;
}
